body{margin:0; padding: 0;}
.container{display: flex; justify-content: center; align-items: center; position: absolute; margin: 0 auto; top: 0; left: 0; bottom: 0;right: 0;}
.form-data{text-align: center;}
.modal-header{border-bottom: none;}
.displaying{display: none;}
@media only screen and (max-width: 468px) {
    .displaying {
        display: block;
    }
	#openForm{
		display: none;
	}
}